#planner {
    border-style: solid;
    text-align: left;
    height: 500px;
    width: 900px;
    margin: 100px;

}

h3 {
    text-align: center;
}

#appointment {
    align-self: center;
    display: grid;
    grid-template-rows: 30px 20px;
    grid-template-columns: 10px 10px;
    grid-gap: 40px;
    margin: 100px;
}

.item1 {
    grid-area: 1;
}

.item2 {
    grid-area: 2;
}

.item3 {
    grid-area: 4;
}

