#registration{
    border-style: solid;
    text-align: left;
    margin: 100px;
}


button {
    background-color: rgba(131, 206, 219, 1);
    border-color: rgba(131, 206, 219, 1);
}

#form {
    display: grid;
    margin: 100px;
    grid-gap: 10px;
}

#firstname {
    grid-area: 1;

}

#error-firstname {
    grid-area: 2;
    width: 500px;
}

#lastname {
    grid-area: 2;
}

#error-lastname {
    grid-area: 4;
    width: 500px;
}

#birthdate-field {
    grid-area: 5;
}

#error-birthday {
    grid-area: 6;
    width: 500px;
}

#sex-field {
    grid-area: 7;
}

#error-sex {
    grid-area: 8;
    width: 500px;
}

#postcode {
    grid-area: 9;
    height: 10px;
}

#error-zipcode{
    grid-area: 10;
    width: 500px;
}

#address-field {
    grid-area: 11;
}

#address-message {
    grid-area: 12;
    width: 500px;
}

#email-field {
    grid-area: 13;
}
#email-error {
    grid-area: 14;
    width: 500px;
    height: 1px;
}

#password-field {
    grid-area: 14;
}

#error-password{
    grid-area: 15;
    width: 500px;
    height: 1px;
}

#terms-and-conditions-field {
    grid-area: 17;
    margin: 10px;
}

#register-button {
    grid-area: 18;
}
