#signIn {
    border-color: #282c34;
    border-style: solid;
    height: 600px;
    width: 900px;
    display: grid;
    align-content: center;


}

#container {
    margin: 200px;
}


#login {
    display: grid;
    grid-gap: 10px;
    margin: 100px;
}

#logo {
    flex-grow: 1;
    flex-shrink: 1;
    grid-area: 1;
}

#username-field {
    grid-area: 2;
    align-self: center;
}

#password-field {
    align-items: center;
    grid-area: 3;
}

#submit-button {
    grid-area: 4;
    align-self: center;

}

#button-container {
     margin: 10px;
}

#register {
    text-align: left;
    grid-area: 10;
    margin: 10px;
    text-decoration-color: #282c34;
    text-underline: #282c34;
}

