#message-container {
    border-width: 2px;
    margin: 100px;
    text-align: left;
    height: 1000px;
    width: 1200px;
}

#message {
    display: grid;
}
textarea {
    resize: none;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}
#receiver {
    grid-area: 1;
    width: 500px;
    height: 2px;
}
#body {
    grid-area: 2;
    width: 1000px;
    height: 900px;
}


#file {
    text-align: left;
}

#upload {
    grid-area: 23;
}

#send {
    grid-area: 24;
}
