article {
    border-width: 2px;
    margin: 100px;
    display: grid;
    text-align: left;
}

textarea {
    resize: none;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

div {
    margin: 100px;
}

#file {
    text-align: left;
}

input {
    align-self: center;
}