article {
    border-width: 2px;
    margin: 100px;
    display: grid;
    alignment: left;
}

textarea {
    resize: none;
    fontsize: 30px;
    alignment: center;
}

div {
    margin: 100px;
}

#file {
    alignment: left;
}

input {
    align-self: center;
}